.home{
    max-width: 80%;
    margin: auto;
    padding-top: 60px;
    /* height: 300px; */
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .home{
        max-width: 100%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
     
}